h1, h2 {
  color: #006400;
}

div ul {
  list-style-type: disc;
  padding-left: 40px;
}
div ul li {
  margin-bottom: 10px;
}

body {
  font-size: 1.2rem;
  line-height: 1.6;
}

div {
  padding: 10px;
  color: black;
  font-weight: 700;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}